HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HTML {
	FONT-SIZE: 100.01%; COLOR: #737373; LINE-HEIGHT: 1.5; FONT-FAMILY: Arial, Tahoma, Helvetica, sans-serif; HEIGHT: 100%
}
BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, "宋体";FONT-SIZE: 11px;COLOR:#737373;
	FONTxxx-SIZE: 68.75%; BACKGROUND: #f4f4f4; MARGIN-BOTTOM: 1px; HEIGHT: 100%
}
IMG {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none
}
A IMG {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
LI {
	MARGIN-LEFT: 1em
}
DD {
	MARGIN-LEFT: 1em
}
BLOCKQUOTE {
	MARGIN-LEFT: 1em
}
.clearfix {
	CLEAR: both; FONT-SIZE: 1px; MARGIN: 0px; OVERFLOW: hidden; HEIGHT: 0px! important
}
.cls {
	CLEAR: both; FONT-SIZE: 1px; MARGIN: 0px; OVERFLOW: hidden; HEIGHT: 0px! important
}
.clear {
	CLEAR: both
}
.contentPad {
	CLEAR: both; HEIGHT: 20px! important
}
.hide {
	DISPLAY: none
}
.skip {
	DISPLAY: none
}
.printonly {
	DISPLAY: none
}
.inline {
	DISPLAY: inline
}
H1 {
	FONT-WEIGHT: normal
}
H2 {
	FONT-WEIGHT: normal
}
H3 {
	FONT-WEIGHT: normal
}
H4 {
	FONT-WEIGHT: normal
}
H5 {
	FONT-WEIGHT: normal
}
H6 {
	FONT-WEIGHT: normal
}
.subTitle {
	FONT-WEIGHT: normal
}
H1 {
	FONT-SIZE: 218%
}
H2 {
	FONT-SIZE: 164%
}
H3 {
	FONT-SIZE: 145%
}
H4 {
	FONT-SIZE: 118%
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 86%
}
P.caption {
	FONT-SIZE: 86%; COLOR: #888
}
P.comment {
	FONT-SIZE: 86%; COLOR: #888
}
.warning {
	FONT-WEIGHT: bold; COLOR: #821517
}
.success {
	FONT-WEIGHT: bold; COLOR: #090
}
BUTTON {
	FONT-WEIGHT: bold; WIDTH: 112px; CURSOR: pointer; COLOR: #821517; MARGIN-RIGHT: 5px
}
A {
	COLOR: #555; TEXT-DECORATION: underline
}
A:active {
	COLOR: #555; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #555; TEXT-DECORATION: none
}
A:link {
	COLOR: #555; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000
}
INPUT {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.inputBox {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #777; HEIGHT: 1px; BACKGROUND-COLOR: #777; BORDER-RIGHT-WIDTH: 0px
}
.split {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; BACKGROUND: url(images/misc/line.gif) #821517 repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 1px
}
#previewIframe {
	WIDTH: 100%; HEIGHT: 400px
}
.stay {
	MARGIN-LEFT: 0px; BORDER-BOTTOM: #32cd32 1px solid
}
.messageRead {
	COLOR: #000
}
.messageUnread {
	FONT-WEIGHT: bold; COLOR: #3cb371
}
.tr_bg_color{background-color:#FFCC00;}
.subTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 10px 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 44px! important
}
.right {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 20px; COLOR: #000; PADDING-TOP: 0px
}
#topbar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px
}
#topbar  {
	VERTICAL-ALIGN: middle
}
#topbar A {
	FONT-WEIGHT: bold; COLOR: #677e32; TEXT-DECORATION: none
}
#topbar A:link {
	FONT-WEIGHT: bold; COLOR: #677e32; TEXT-DECORATION: none
}
#topbar A:visited {
	FONT-WEIGHT: bold; COLOR: #677e32; TEXT-DECORATION: none
}
#topbar A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
#tocText {
	Z-INDEX: 1000; LEFT: 3px; POSITION: absolute; TOP: 50px
}
#tocText {
	FONT-WEIGHT: bold; LINE-HEIGHT: 16px; MARGIN-RIGHT: 15px
}
#buildText {
	FONT-WEIGHT: bold; LINE-HEIGHT: 16px; MARGIN-RIGHT: 15px
}
#workText {
	FONT-WEIGHT: bold; LINE-HEIGHT: 16px; MARGIN-RIGHT: 15px
}
#tocText {
	MARGIN-RIGHT: 5px
}
#buildText IMG {
	MARGIN-RIGHT: 5px
}
#workText IMG {
	MARGIN-RIGHT: 5px
}
#statusbar {
	RIGHT: 0px; POSITION: absolute; TOP: 23px
}
#supplementalNav {
	BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; HEIGHT: 20px
}
FORM LABEL {
	CURSOR: pointer
}
FIELDSET {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
INPUT {
	
}
SELECT {
	
}
TEXTAREA {
	
}
TD {
	
}
#ta {
	FONT-SIZE: 130%; FONT-FAMILY: monospace
}
.tmplvars TEXTAREA {
	FONT-SIZE: 130%; FONT-FAMILY: monospace
}
FORM INPUT {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7c7c7c 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(images/misc/input-bg.gif) #fff repeat-x left top; PADDING-BOTTOM: 2px; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid
}
FORM TEXTAREA {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7c7c7c 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(images/misc/input-bg.gif) #fff repeat-x left top; PADDING-BOTTOM: 2px; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid
}
INPUT.radio {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; WIDTH: auto! important; HEIGHT: auto! important; BORDER-RIGHT-WIDTH: 0px
}
INPUT.checkbox {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; WIDTH: auto! important; HEIGHT: auto! important; BORDER-RIGHT-WIDTH: 0px
}
SELECT {
	BORDER-RIGHT: #c3c3c3 0px solid; BORDER-TOP: #c3c3c3 0px solid; BACKGROUND: #fcfcfc; BORDER-LEFT: #c3c3c3 0px solid; BORDER-BOTTOM: #c3c3c3 0px solid
}
.form {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #ddd 1px solid
}
FORM INPUT.hidden {
	DISPLAY: none! important; POSITION: absolute
}
.form LABEL {
	DISPLAY: block; FLOAT: left; VERTICAL-ALIGN: middle
}
.form INPUT {
	DISPLAY: block; FLOAT: left; VERTICAL-ALIGN: middle
}
.form TEXTAREA {
	DISPLAY: block; FLOAT: left; VERTICAL-ALIGN: middle
}
.form LABEL {
	PADDING-RIGHT: 20px; WIDTH: 110px; TEXT-ALIGN: right
}
FORM TEXTAREA {
	MARGIN-TOP: 0px; WIDTH: 300px; HEIGHT: 100px
}
.form LEGEND {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #04c; PADDING-TOP: 5px
}
.form SELECT {
	DISPLAY: inline; FLOAT: left
}
.form BR {
	CLEAR: both
}
INPUT.submit {
	DISPLAY: block! important; FLOAT: none! important; MARGIN: 20px 0px 0px 140px
}
INPUT.button {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: auto; HEIGHT: auto; BORDER-RIGHT-WIDTH: 0px
}
INPUT.submit {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: auto; HEIGHT: auto; BORDER-RIGHT-WIDTH: 0px
}
.form FIELDSET.list {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px! important; MARGIN: 6px 0px 3px 6px; PADDING-TOP: 0px! important; BORDER-RIGHT-WIDTH: 0px
}
.form FIELDSET.list LEGEND {
	DISPLAY: none
}
.form FIELDSET.list LABEL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 3px; WIDTH: auto; PADDING-TOP: 0px; HEIGHT: auto; BORDER-RIGHT-WIDTH: 0px
}
.form FIELDSET.list INPUT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 3px; WIDTH: auto; PADDING-TOP: 0px; HEIGHT: auto; BORDER-RIGHT-WIDTH: 0px
}
.form FIELDSET.list LABEL {
	PADDING-LEFT: 5px; WIDTH: auto; TEXT-ALIGN: left
}
.fakefieldset {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-RIGHT-WIDTH: 0px
}
.fakefieldset STRONG {
	FONT-WEIGHT: bold; COLOR: #903
}
.fakefieldsettitle {
	FONT-WEIGHT: bold; COLOR: #903
}
.sectionHeader2 {
		text-align:left;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:22px;
	font-weight:bold;
	color:#ddf;
	  background-image: url(mailSubHeaderBg.gif); 
	 background-color:#222299;
	background-repeat: repeat-x;
	padding-left:10px;
	padding-right:10px;
}
.sectionHeader {
	PADDING-RIGHT: 3px; BORDER-TOP: #c5db88 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; MARGIN: 0px 10px 4px; COLOR: #000; PADDING-TOP: 5px
}
.showHideVisible {
	PADDING-RIGHT: 3px; BORDER-TOP: #c5db88 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; MARGIN: 0px 10px 4px; COLOR: #000; PADDING-TOP: 5px
}
.sectionHeader {
	PADDING-RIGHT: 3px; PADDING-LEFT: 18px; BACKGROUND: url(images/misc/mailSubHeaderBg.gif) #bee860 repeat-x 50% top; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.sectionBody {
	BORDER-RIGHT: #e3e3e3 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/misc/tabareabg.gif) #fff repeat-x 50% top; PADDING-BOTTOM: 10px; MARGIN: 0px 10px 20px; BORDER-LEFT: #e3e3e3 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #e3e3e3 1px solid; POSITION: relative; TOP: -5px
}
.layerVisible {
	BORDER-RIGHT: #e3e3e3 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(images/misc/tabareabg.gif) #fff repeat-x 50% top; PADDING-BOTTOM: 10px; MARGIN: 0px 10px 20px; BORDER-LEFT: #e3e3e3 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #e3e3e3 1px solid; POSITION: relative; TOP: -5px
}
.showHideVisible {
	MARGIN: 0px 10px 4px
}
.layerVisible {
	MARGIN: 0px 10px 4px
}
.comment {
	FONT-SIZE: 10px; COLOR: #000
}
#THEAD {
	COLOR: #000; HEIGHT: 18px! important; BACKGROUND-COLOR: #e4e4e4
}
.fancyrow {
	COLOR: #000; HEIGHT: 18px! important; BACKGROUND-COLOR: #e4e4e4
}
#THEAD TD {
	BORDER-TOP: #fff 1px solid; COLOR: #000
}
.fancyrow2 {
	BACKGROUND-POSITION: 50% top; COLOR: #fff; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 18px! important; BACKGROUND-COLOR: #f0a62f
}
LI {
	PADDING-RIGHT: 0px; LIST-STYLE: disc url(images/misc/li.gif) outside; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px
}
UL {
	MARGIN: 0px 0px 0px 20px
}
.screen {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.even {
	BACKGROUND: #d9e7c2
}
.odd {
	BACKGROUND: #fff
}
.disabledImage {
	FILTER: alpha(opacity=30); WIDTH: 20px; opacity: 0.3
}
.disabledImage IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.editorCell {
	BORDER-TOP: #808080 1px solid; VERTICAL-ALIGN: baseline; TEXT-ALIGN: left
}
.row1 {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
.row2 {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
.row3 {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
.row2 {
	BACKGROUND-COLOR: #c8daa2
}
.row3 {
	BACKGROUND-COLOR: #f4f4f4
}
.treeframebody {
	BACKGROUND-COLOR: #f4f4f4
}
#treeMenu {
	BACKGROUND: url(images/misc/treebuttonbg.gif); BORDER-BOTTOM: #ddd 1px solid
}
#treeMenu  {
	VERTICAL-ALIGN: middle
}
#treeHolder {
	PADDING-RIGHT: 10px; BORDER-TOP: #fff 2px solid; PADDING-LEFT: 10px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 0px; CURSOR: default; PADDING-TOP: 5px; HEIGHT: 100%
}
#floater {
	DISPLAY: none; Z-INDEX: 500; BACKGROUND: #fff; LEFT: 4px; WIDTH: 200px; BORDER-BOTTOM: #666 1px solid; POSITION: absolute; TOP: 25px; HEIGHT: 50px
}
.rootNode {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: auto; CURSOR: pointer; COLOR: #000; PADDING-TOP: 2px
}
.treeNode {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: auto; CURSOR: pointer; COLOR: #000; PADDING-TOP: 2px
}
.treeNodeHover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: auto; CURSOR: pointer; COLOR: #000; PADDING-TOP: 2px
}
.treeNodeSelected {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: auto; CURSOR: pointer; COLOR: #000; PADDING-TOP: 2px
}
.emptyNode {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: auto; CURSOR: pointer; COLOR: #000; PADDING-TOP: 2px
}
.treeNodeHover {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #777 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #777 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #777 1px solid; BACKGROUND-COLOR: #dcdcdc
}
.treeNodeSelected {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #777 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #777 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #777 1px solid; BACKGROUND-COLOR: #d4e0b1
}
.unpublishedNode {
	COLOR: #aaa; FONT-STYLE: italic
}
.deletedNode {
	COLOR: #a52a2a; TEXT-DECORATION: line-through
}
.publishedNode {
	COLOR: #000
}
.emptyNode {
	CURSOR: default; COLOR: #aaa
}
.notInMenuNode {
	COLOR: #777; TEXT-DECORATION: none
}
#treeSplitter {
	RIGHT: 0px; WIDTH: 10px; POSITION: absolute; HEIGHT: 100%
}
.grid {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 100%; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #fff
}
.gridHeader {
	BORDER-RIGHT: #006400 1px solid; BORDER-TOP: #006400 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #006400 1px solid; COLOR: #fff; BORDER-BOTTOM: #006400 1px solid; HEIGHT: 25px; BACKGROUND-COLOR: #8fc70c
}
.gridItem {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #fff
}
.gridAltItem {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #eeeeee
}
.gridRowIcon:hover {
	BACKGROUND-COLOR: #f5f5dc
}
.searchbar {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 100%; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #dbdbdb
}
.searchtext {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: silver 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: silver 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: silver 1px solid; HEIGHT: 18px
}
.searchbutton {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; BACKGROUND: #dee9c6; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 22px; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 18px; TEXT-DECORATION: none
}
.searchbutton:hover {
	BACKGROUND: #677e32; TEXT-DECORATION: none
}
.searchtoolbarbtn {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #e0e0e0 1px solid; HEIGHT: 24px; TEXT-DECORATION: none
}
.searchtoolbarbtn:hover {
	BORDER-RIGHT: green 1px solid; BORDER-TOP: green 1px solid; BORDER-LEFT: green 1px solid; BORDER-BOTTOM: green 1px solid; TEXT-DECORATION: none
}
A.hometblink {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: underline
}
A.hometblink:active {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: underline
}
A.hometblink:visited {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: underline
}
A.hometblink:link {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: underline
}
.hometblink {
	FONT-WEIGHT: bold; COLOR: #000; TEXT-DECORATION: underline
}
A.hometblink:hover {
	COLOR: gray; TEXT-DECORATION: underline
}
.notice {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #eee 1px solid; WIDTH: 100%; COLOR: #707070; PADDING-TOP: 5px; BORDER-BOTTOM: #eee 1px solid; BACKGROUND-COLOR: #f4f4f4
}
#preLoader {
	Z-INDEX: 50000; VERTICAL-ALIGN: middle; WIDTH: 100%; POSITION: absolute; HEIGHT: 100%; TEXT-ALIGN: center
}
.preLoaderText {
	BORDER-RIGHT: #039 1px solid; PADDING-RIGHT: 50px; BORDER-TOP: #039 1px solid; PADDING-LEFT: 50px; PADDING-BOTTOM: 50px; BORDER-LEFT: #039 1px solid; WIDTH: 300px; PADDING-TOP: 50px; BORDER-BOTTOM: #039 1px solid; HEIGHT: 150px; BACKGROUND-COLOR: #fff
}
.contextMenu {
	BORDER-RIGHT: #909090 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #eaeaea 1px solid; PADDING-LEFT: 0px; Z-INDEX: 10000; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #eaeaea 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #707070 1px solid; POSITION: absolute
}
.cntxMnuItem {
	PADDING-RIGHT: 16px; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(images/_tx_.gif); PADDING-BOTTOM: 3px; CURSOR: pointer; COLOR: #000; PADDING-TOP: 3px
}
.cntxMnuItemOver {
	BORDER-RIGHT: #fa0 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #fa0 1px solid; PADDING-LEFT: 1px; BACKGROUND: #c6d9a2; PADDING-BOTTOM: 2px; BORDER-LEFT: #fa0 1px solid; CURSOR: pointer; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #fa0 1px solid
}
.cntxMnuItemDisabled {
	PADDING-RIGHT: 16px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; CURSOR: default; COLOR: #111; PADDING-TOP: 3px
}
.cntxMnuItem IMG {
	MARGIN-RIGHT: 8px
}
.cntxMnuItemOver IMG {
	MARGIN-RIGHT: 8px
}
.cntxMnuItemDisabled IMG {
	MARGIN-RIGHT: 8px
}
.cntxMnuItem IMG {
	FILTER: alpha(opacity=30); opacity: .3
}
.cntxMnuItemDisabled IMG {
	FILTER: alpha(opacity=30); opacity: .3
}
.cntxMnuSeparator {
	FONT-SIZE: 0px; MARGIN: 3px 1px 3px 28px; OVERFLOW: hidden; HEIGHT: 1px; BACKGROUND-COLOR: silver
}
#topMenu {
	BACKGROUND: url(images/misc/menubg.jpg) #e4e4e4
}
#Navcontainer {
	PADDING-LEFT: 10px; COLOR: #fff
}
UL#nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: visible! important; WIDTH: 100%; PADDING-TOP: 0px; POSITION: absolute; TOP: 18px; HEIGHT: 25px
}
#nav UL {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 10px; Z-INDEX: 500; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -10px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 25px
}
#nav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(images/misc/greentab.gif) #d4d4d4 100% 100%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; WIDTH: auto; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #acda43 1px solid; CURSOR: pointer; COLOR: #438d29; LINE-HEIGHT: 25px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 25px; TEXT-DECORATION: none
}
#nav LI UL LI A {
	BACKGROUND: #d4d4d4; FLOAT: left; WIDTH: auto
}
#nav A:hover {
	COLOR: #264f17
}
#nav A:active {
	COLOR: #000
}
#nav LI.active {
	BACKGROUND: url(images/misc/greentab.gif) #438d29 100% 0px
}
#nav LI.active A {
	Z-INDEX: 999999; BORDER-LEFT: #8cc709 1px solid; COLOR: #fff; BORDER-BOTTOM: #8fc70c 1px solid; POSITION: relative
}
#nav LI.active A:hover {
	CURSOR: pointer
}
#nav LI.active UL.subnav {
	BORDER-TOP: #8ac00c 1px solid; DISPLAY: block; BACKGROUND: #8fc70c; LEFT: 0px; WIDTH: 200%; BORDER-BOTTOM: #8caa2b 1px solid; POSITION: absolute; TOP: 25px
}
#nav LI.active UL.subnav A {
	FONT-WEIGHT: normal; BACKGROUND: #8fc70c; CURSOR: pointer; COLOR: #fff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#nav LI.active UL.subnav LI {
	MARGIN: 0px
}
#nav LI.active UL.subnav A:hover {
	COLOR: #264f17; BACKGROUND-COLOR: #a5d535
}
#nav LI.active UL.subnav A:active {
	COLOR: #000
}
#mx_contextmenu {
	BORDER-RIGHT: #dcdcdc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ededed 1px solid; PADDING-LEFT: 2px; Z-INDEX: 10000; BACKGROUND: #fff; VISIBILITY: hidden; PADDING-BOTTOM: 2px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #ededed 1px solid; WIDTH: 170px; LINE-HEIGHT: 11px; PADDING-TOP: 2px; BORDER-BOTTOM: #dcdcdc 1px solid; POSITION: absolute; HEIGHT: auto
}
#mx_contextmenu .menuLink {
	PADDING-RIGHT: 16px; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; CURSOR: pointer; COLOR: #222; PADDING-TOP: 3px
}
#mx_contextmenu .menuLinkOver {
	BORDER-RIGHT: #dcdcdc 1px solid; BORDER-TOP: #fdfdfd 1px solid; BACKGROUND: #9ebc5a; BORDER-LEFT: #fdfdfd 1px solid; COLOR: #fff; BORDER-BOTTOM: #dcdcdc 1px solid
}
#mx_contextmenu .menuLinkOver {
	PADDING-RIGHT: 15px; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px
}
#mx_contextmenu .menuLinkDisabled {
	PADDING-RIGHT: 15px; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px
}
#mx_contextmenu .menuLinkDisabled {
	CURSOR: default; COLOR: #787878
}
#mx_contextmenu .menuLink IMG {
	MARGIN-RIGHT: 8px
}
#mx_contextmenu .menuLinkOver IMG {
	MARGIN-RIGHT: 8px
}
#mx_contextmenu .menuLinkDisabled IMG {
	MARGIN-RIGHT: 8px
}
#mx_contextmenu .menuLink IMG {
	FILTER: alpha(opacity=30); opacity: .3
}
#mx_contextmenu .menuLinkDisabled IMG {
	FILTER: alpha(opacity=30); opacity: .3
}
#mx_contextmenu .menuLinkOver IMG {
	
}
#mx_contextmenu #nameHolder {
	BORDER-RIGHT: #dcdcdc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fdfdfd 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #9ebc5a; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fdfdfd 1px solid; CURSOR: default; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #dcdcdc 1px solid; TEXT-ALIGN: right
}
#mx_contextmenu .seperator {
	FONT-SIZE: 0px; MARGIN: 3px 1px 3px 28px; OVERFLOW: hidden; HEIGHT: 1px; BACKGROUND-COLOR: silver
}
.settings {
	WIDTH: 600px
}
.settings TR {
	WIDTH: 100%! important
}
.settings TD {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.settings TH {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.settings TD {
	
}
.settings TH {
	FONT-SIZE: 120%; WIDTH: 200px! important; COLOR: #555; TEXT-ALIGN: left
}
.settings TEXTAREA {
	
}
.settings INPUT {
	
}
.tab-pane {
	WIDTH: 100%; POSITION: relative
}
.dynamic-tab-pane-control .tab-row .tab {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #e0e0e0 1px solid; DISPLAY: inline; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 11px; Z-INDEX: 1; BACKGROUND: #f5f5f5; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 3px -3px 1px 5px; BORDER-LEFT: #e0e0e0 1px solid; CURSOR: pointer; COLOR: #313131; PADDING-TOP: 2px; BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: relative; TOP: 0px
}
.dynamic-tab-pane-control .tab-row .hover {
	BACKGROUND: #fff; COLOR: #222; TEXT-DECORATION: none
}
.dynamic-tab-pane-control .tab-row .selected {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #e0e0e0 1px solid; Z-INDEX: 3; BACKGROUND: #fff; BORDER-LEFT: #e0e0e0 1px solid; COLOR: #000; BORDER-BOTTOM: #fff 1px solid; TOP: 0px
}
.dynamic-tab-pane-control .tab-row .tab SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #4b4b4b; TEXT-DECORATION: none
}
.dynamic-tab-pane-control .tab-page {
	CLEAR: both; PADDING-RIGHT: 10px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 10px; Z-INDEX: 2; BACKGROUND: #fff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; POSITION: relative; TOP: -2px
}
.dynamic-tab-pane-control .tab-row {
	Z-INDEX: 1; WHITE-SPACE: nowrap
}
.dynamic-tab-pane-control LI {
	MARGIN-LEFT: 10px
}
.treeButton {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #809c47; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; CURSOR: default; COLOR: #000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 1px
}
.treeButton:hover {
	BORDER-RIGHT: #006400 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #006400 1px solid; PADDING-LEFT: 4px; BACKGROUND: #dee9c6; PADDING-BOTTOM: 2px; BORDER-LEFT: #006400 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #006400 1px solid
}
.treeButtonDisabled {
	BORDER-RIGHT: #006400 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #006400 0px solid; PADDING-LEFT: 4px; FILTER: alpha(opacity=50); PADDING-BOTTOM: 2px; BORDER-LEFT: #006400 0px solid; CURSOR: default; COLOR: #777; PADDING-TOP: 2px; BORDER-BOTTOM: #006400 0px solid; opacity: .5
}
.coolButton {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #809c47; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; CURSOR: default; COLOR: #000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 1px
}
.coolButtonHover {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #809c47; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; CURSOR: default; COLOR: #000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 1px
}
.coolButtonActiveHover {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #809c47; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; CURSOR: default; COLOR: #000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 1px
}
.coolButtonActive {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #809c47; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; CURSOR: default; COLOR: #000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 1px
}
.coolButtonActiveDisabled {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #809c47; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; CURSOR: default; COLOR: #000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 1px
}
.coolButtonDisabled {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #809c47; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; CURSOR: default; COLOR: #000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 1px
}
.coolButtonUpDisabled {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #809c47; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; CURSOR: default; COLOR: #000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 1px
}
.coolButtonHover {
	BORDER-RIGHT: #006400 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #006400 1px solid; PADDING-LEFT: 4px; BACKGROUND: #dee9c6; PADDING-BOTTOM: 2px; BORDER-LEFT: #006400 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #006400 1px solid
}
.coolButtonActive {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #444 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #444 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.coolButtonActiveHover {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #444 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #444 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.coolButtonUpDisabled {
	BORDER-RIGHT: #006400 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #006400 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #006400 0px solid; COLOR: #777; PADDING-TOP: 2px; BORDER-BOTTOM: #006400 0px solid
}
.coolButtonActiveDisabled {
	BORDER-RIGHT: #006400 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #006400 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #006400 0px solid; COLOR: #777; PADDING-TOP: 2px; BORDER-BOTTOM: #006400 0px solid
}
.coolButtonDisabled {
	BORDER-RIGHT: #006400 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #006400 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #006400 0px solid; COLOR: #777; PADDING-TOP: 2px; BORDER-BOTTOM: #006400 0px solid
}
.coolButtonActiveDisabled {
	BORDER-RIGHT: #006400 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #006400 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 3px; BORDER-LEFT: #006400 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #006400 1px solid
}
.coolButtonUpDisabled IMG {
	FILTER: alpha(opacity=30); opacity: .3
}
.coolButtonActiveDisabled IMG {
	FILTER: alpha(opacity=30); opacity: .3
}
.coolButtonDisabled IMG {
	FILTER: alpha(opacity=30); opacity: .3
}
A.hometblink {
	BORDER-TOP-WIDTH: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
A.hometblink IMG {
	BORDER-TOP-WIDTH: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
.wm_button {
	FLOAT: left; MARGIN: 0px 6px 2px 5px; TEXT-ALIGN: center
}
#mainActionPages {
	BACKGROUND: url(images/misc/mainbg.gif) #f4f4f4 repeat-x 50% top
}
.tab-page {
	BORDER-RIGHT: #e4e4e4 1px solid; BORDER-TOP: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; BORDER-BOTTOM: #e4e4e4 1px solid
}
.sectionBody .tab-page {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.actionButtons A {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #809c47; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; COLOR: #000; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BORDER-RIGHT-WIDTH: 1px; TEXT-DECORATION: none
}
.actionButtons A:hover {
	BORDER-RIGHT: #006400 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #006400 1px solid; PADDING-LEFT: 4px; BACKGROUND: #dee9c6; PADDING-BOTTOM: 2px; BORDER-LEFT: #006400 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #006400 1px solid
}
.actionButtons A:active {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #444 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #444 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.actionButtons A.disabled {
	BORDER-RIGHT: #006400 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #006400 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #006400 0px solid; COLOR: #777; PADDING-TOP: 2px; BORDER-BOTTOM: #006400 0px solid
}
.actionButtons A.disabled IMG {
	FILTER: alpha(opacity=30); opacity: .3
}
.sortabletable {
	BORDER-RIGHT: buttonshadow 0px solid; BORDER-TOP: buttonshadow 0px solid; FONT: Icon; BORDER-LEFT: buttonshadow 0px solid; COLOR: windowtext; BORDER-BOTTOM: buttonshadow 0px solid
}
.sortabletable THEAD TR {
	HEIGHT: 18px! important; BACKGROUND-COLOR: #97b553
}
.sortabletable TR {
	BACKGROUND: #fff
}
.sortabletable TR.even {
	BACKGROUND: #d9e7c2
}
.sortabletable TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.sortabletable TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.sortabletable TH {
	CURSOR: pointer; COLOR: #000; TEXT-ALIGN: left
}
.sortabletable TH A {
	COLOR: #000; TEXT-DECORATION: none
}
.sortabletable TH:active {
	PADDING-RIGHT: 4px; PADDING-LEFT: 6px; BACKGROUND: #ccc; PADDING-BOTTOM: 1px; PADDING-TOP: 3px
}

.inputtext   {border:solid 1px #F7BF63;line-height:18px;}
.inputsubmit {background:#494949;color:#FFFFFF;}
