/* CSS Document */
body,td,th {font-family: Verdana, Arial, Helvetica, sans-serif, "ו";	font-size: 12px;color:#737373;}
body {margin:0px;background:#fff; text-align:center;}
#kuang{ margin:0px; width:99%; padding:0px; }
.dlal{ background-color:#D9E6FE;  text-align:center; font-size:11px;border-bottom:solid 1px #fff;}
.bordertop{ border:solid 1px #D9E6FE;}
.font_date{ font-size:11px; text-align:right; font-weight:bold; padding-right:8px;border-bottom:solid 1px #eee;}
.font_date2{ border-bottom:solid 1px #eee;}
.font_left{ color:#F47621; border-bottom:solid 1px #eee;}
.view{border-top:solid 1px #fff; border-bottom:solid 1px #fff;}
.number{ border:solid 5px #eee; margin:5px 0px 5px 0px;}
.total_font_calls{font-family: Verdana, Arial, Helvetica;font-weight:bold;padding-right:5px;color:#FF9999;font-size:28px;}
.font_calls{ text-align:left; font-weight:bold; padding-right:5px;color:#FF9900;font-size:18px;}
.border_bot{ text-align:right; font-size:16px;font-weight:bold;font-family:"ו";}
.waiting{ background-color:#FFE6E6;border-top:solid 1px #fff; border-bottom:solid 1px #fff; padding-left:8px;}
.waitbor{ border:solid 1px #FFE6E6;}
.wait_tit{ border-bottom:solid 1px #FFB9B9;padding:3px 0px 0px 8px; font-weight:normal;background-color:#FFD7D7;}
.wait_list{ border-bottom:solid 1px #eee; padding-left:8px;}

.col_green {border-bottom:solid 1px #000;padding-left:8px;color: white; background-color: green}
.col_red {border-bottom:solid 1px #000; padding-left:8px;color: white; background-color: red}
.col_lightblue {border-bottom:solid 1px #000;padding-left:8px;color: black; background-color: #ADD8E6}
.col_blue {border-bottom:solid 1px #000;padding-left:8px;color: white; background-color: blue}
.col_midnightblue {border-bottom:solid 1px #000;padding-left:8px;color: white; background-color: #191970}
.col_purple {border-bottom:solid 1px #000;padding-left:8px;color: white; background-color: purple}
.col_violet {border-bottom:solid 1px #000;padding-left:8px;color: black; background-color: #EE82EE} 
.col_thistle {border-bottom:solid 1px #000;padding-left:8px;color: black; background-color: #D8BFD8} 
.col_olive {border-bottom:solid 1px #000;padding-left:8px;color: white; background-color: #808000}
.col_yellow {border-bottom:solid 1px #000;padding-left:8px;color: black; background-color: yellow}
.col_khaki {border-bottom:solid 1px #000; padding-left:8px;color: black; background-color: #F0E68C}
.col_orange {border-bottom:solid 1px #000;padding-left:8px;color: black; background-color: orange}
.col_black {border-bottom:solid 1px #000;padding-left:8px;color: white; background-color: black}
.waitstation{padding-left:0px;}
.wait_tit2{ border-bottom:solid 1px #000;padding-left:8px; font-weight:bold;}
.border_bottom{ border:solid 1px #000;}
a:link {color: #737373;	text-decoration: underline;font-size:12px;}
a:visited {color: #737373;	text-decoration: underline;font-size:12px;}
a:hover {color: #ff0000;text-decoration: none;font-size:12px; }
a:active {color: #737373;	text-decoration: underline;font-size:12px;}
a.top:link {color: #737373;	text-decoration: underline;font-size:12px;}
a.top:visited {color: #737373;	text-decoration: underline;font-size:12px;}
a.top:hover {color: #ff0000;text-decoration: none;font-size:12px; }
a.top:active {color: #737373;	text-decoration: underline;font-size:12px;}
#REALTIMEform{margin:0px 0px; padding:0px 0px;}
.ingroup_stats{background:#EEEEEE; border:1px solid #D9E6FE;}
.ingroup_stats th{text-align:center;background:#D9E6FE;font-weight:normal;}
.ingroup_stats td{text-align:center;background:#FFFFFF;}
.HT_table,.carrier_tb{border:1px solid #D9E6FE}
.HT_table td,.carrier_tb td{text-align:center;}
.HT_tdhead, .HT_tdhead a:link,.carrier_tb td.head{ background:#D9E6FE; text-align:center;}

ul#navmenu-h { margin: 0; padding: 0; list-style: none; position: relative; }
ul#navmenu-h ul {width: 160px; /* Sub Menu Width */margin: 0;list-style: none;display: none;position: absolute;top: 100%;
left: 0;}
ul#navmenu-h ul ul,ul#navmenu-h ul ul ul { top: 0; left: 100%; }
ul#navmenu-h li { float: left; display: inline; position: relative; }

/* Root Menu */
ul#navmenu-h a {border-top: 1px solid #FFF; border-right: 1px solid #FFF;padding:8px 15px 8px 15px ;float: left;display: block;background: #DDD;color: #676767;font:bold 12px Arial, sans-serif;text-decoration: none;height: 1%;background:url("../images/menu_bg.jpg") repeat-x;}
/* Root Menu Hover Persistence */
ul#navmenu-h a:hover,ul#navmenu-h li:hover a,ul#navmenu-h li.iehover a {background: #BBB;background:url("../images/menu_bg_hover.jpg") repeat-x;text-decoration:underline;}

ul#navmenu-h li.sec a {margin:13px 0px 0px 5px;padding:0px;float:left;display: block;color: #676767;font:normal 11px Arial, sans-serif;height: 1%;}

ul#navmenu-h li.sec a:hover,ul#navmenu-h li.sec:hover a,ul#navmenu-h li.sec.iehover a {color:red;text-decoration:underline;}